/* body {
  font-family: "Open Sans", sans-serif;
  font-size: 150%;
} */
html,
body {
  margin:0;
  padding:0;
  overflow:hidden;
  background-color: black;
}

svg {
  height:100%;
  width:100%;
  font-family: Univers, Helvetica, sans-serif;
  font-size: 400%;
}