/* body {
  font-family: "Open Sans", sans-serif;
  font-size: 150%;
} */
html,
body {
  margin:10;
  padding:10;
  overflow:hidden;
  font-size: 150%;
}

div {
  text-align: justify;
}

div:after {
  content: "";
  display: inline-block;
  width: 100%;
}

input[type="number"]
{
    font-size:24px;
}